<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports</title>
    <link rel="stylesheet" href="/static/CSS/Anime.css">
</head>

<body>
    <header>
        <h1>Anime</h1>
        <div>
            <a href="{% url 'Home' %}">Home</a>
            <a href="{% url 'Au' %}">Aboutus</a>
        </div>
    </header>
    <div>
        <h1 style="color: goldenrod;">Discover The Below Anime News</h1>
    </div>
    <div>
        <div><a href="/Demonslayer">
                <img src="/static/Photos/Demonslayer.jpg" alt="DemonSlayer photo">
                <h2>Demon Slayer</h2>
            </a>
        </div>
        <div><a href="/AOT/">
                <img src="/static/Photos/AOT.webp" alt="AOT Photo">
                <h2>AOT</h2>
            </a>
        </div>
        <div><a href="/OnePiece/">
                <img src="/static/Photos/OnePiece.webp" alt="OnePiece Photo">
                <h2>One Piece</h2>
            </a>
        </div>
        <div><a href="/HxH/">
                <img src="/static/Photos/HxH.webp" alt="HxH Photo">
                <h2>HXH</h2>
            </a>
        </div>
        <div><a href="/BlackClover/">
                <img src="/static/Photos/BlackClover.webp" alt="BlackClover Photo">
                <h2>Black Clover</h2 </a>
        </div>
        <div><a href="/TTIGRAAS/">
                <img src="/static/Photos/TTIGRAAS.webp" alt="That Time I Got Reincarnated as a Slime">
                <h2>That Time I Got Reincarnated as a Slime</h2>
            </a>
        </div>
    </div>
</body>

</html>