{%extends 'Basefile.html'%}

{% load static %}




{%block Title%}
<h1>Anime news Page</h1>
{%endblock Title%}




{%block Content%}
<img src="{% static 'Photos/AOT.webp'%}" alt="AOT Image">
<h2>AOT</h2>
<p>The “source of all living matter” is a central concept in the Attack on Titan series. It refers to an anomaly that
    granted Ymir Fritz the Power of the Titans almost two thousand years ago. This anomaly is described as having an
    insect-like appearance, similar to a “shining centipede,” with no visible eyes or mouth, but a mass of feelers on
    its head. It is the source of both the Power of the Titans and the abilities of the Founding Titan, and its true
    nature and purpose are still not fully understood. The anomaly has been observed to vary greatly in size and has the
    ability to dramatically affect organic life in its immediate vicinity.</p><br>
</p><br>
{%endblock Content%}