{%extends 'Basefile.html'%}

{% load static %}


{%block Title%}
<h1>Movies Page</h1>
{%endblock Title%}


{%block Content%}
<img src="{% static 'Photos/bheemla.jpeg'%}" alt="BeemlaNayak">
<h2>BeemlaNayak</h2>
<p>Bheemla Nayak is a 2022 Indian Telugu-language action thriller film directed by Saagar K Chandra from a screenplay by
    Trivikram Srinivas. The film stars Pawan Kalyan and Rana Daggubati in lead roles. It is an official remake of the
    2020 Malayalam film Ayyappanum Koshiyum. The film was filmed primarily in Hyderabad between January 2021 and
    February 2022 although temporarily halted by the COVID-19 pandemic. It has music composed by Thaman S with
    cinematography by Ravi K. Chandran and editing by Naveen Nooli.</p><br>
{%endblock Content%}