{%extends 'Basefile.html'%}

{% load static %}




{%block Title%}
<h1>Anime news Page</h1>
{%endblock Title%}




{%block Content%}
<img src="{% static 'Photos/BlackClover.webp'%}" alt="BlackClover Image">
<h2>BlackClover</h2>
<p>While Yuno may have obtained a second grimoire in Black Clover that allows him to wield Star magic in addition to
    Wind, these new spells haven't offered up the guaranteed victory readers usually expect from new abilities. How Asta
    utilizes Yuno's Star magic in the latest chapter makes it easier for readers to realize what this ability truly
    signifies, and it's quite profound.</p><br>
</p><br>
{%endblock Content%}