{%extends 'Basefile.html'%}

{% load static %}

{%block Title%}
<h1>Movies Page</h1>
{%endblock Title%}



{%block Content%}
<h2>Chathrapathi</h2>
<img src="{% static 'Photos/Chatrapati.jpeg'%}" alt="Chathrapathi photo">
<p>Chatrapathi is a 2005 Indian Telugu-language action film directed by S. S. Rajamouli, who also co-wrote the
    film with V. Vijayendra Prasad. The film stars Prabhas, Shriya Saran and Bhanupriya alongside Shafi and
    Pradeep Rawat playing supporting roles. M. M. Keeravani composed the music. The film was produced by B. V.
    S. N. Prasad on Sri Venkateswara Cine Chitra banner.Chatrapathi was released on 29 September 2005 and
    emerged as a blockbuster, collecting an estimated distributors share of ₹21 crore ($5 million) against a
    budget of ₹12.5 crore</p><br>
{%endblock Content%}