{%extends 'Basefile.html'%}

{% load static %}




{%block Title%}
<h1>Sports News Page</h1>
{%endblock Title%}



{%block Content%}
<img src="{% static 'Photos/chess.png'%}" alt="Chess Photo">
<h2>Chess</h2>
<p>A two-player strategy board game with roots in India, chess is played on an 8x8 grid with 16 pieces per player,
    including pawns, knights, bishops, rooks, a queen, and a king. The objective is to checkmate the opponents king,
    leading to a win. Chess is renowned for its deep strategic elements and has a rich history, with global tournaments
    like the World Chess Championship and the Chess Olympiad showcasing top talent. The game has evolved with
    technology, leading to online platforms where players can compete globally. Chess has also gained popularity in
    schools, promoting critical thinking and problem-solving skills among students</p><br>
{%endblock Content%}