{%extends 'Basefile.html'%}

{% load static %}




{%block Title%}
<h1>Sports News Page</h1>
{%endblock Title%}



{%block Content%}
<img src="{% static 'Photos/cricket.png'%}" alt="Cricket Image">
<h2>Cricket</h2>
<p>Originating in England, cricket is a bat-and-ball game that has become immensely popular in countries like India,
    Australia, and England. Played between two teams of 11 players, it features various formats, including Test matches,
    One Day Internationals (ODIs), and T20s. The game emphasizes strategy, skill, and sportsmanship, with iconic
    tournaments like the ICC Cricket World Cup and the Indian Premier League (IPL) drawing massive audiences. Cricket
    has a rich history, with legendary players like Sachin Tendulkar, Sir Donald Bradman, and Viv Richards leaving an
    indelible mark on the sport. The game fosters a sense of community and national pride, especially during
    international competitions</p><br>
{%endblock Content%}