{%extends 'Basefile.html'%}

{% load static %}




{%block Title%}
<h1>Anime news Page</h1>
{%endblock Title%}




{%block Content%}
<img src="{% static 'Photos/Demonslayer.jpg'%}" alt="DemonSlayer Image">
<h2>DemonSlayer</h2>
<p>Demon Slayer, also known as “Kimetsu no Yaiba,” is a popular Japanese manga series written and illustrated by
    Koyoharu Gotouge. It was serialized in Shueisha’s Weekly Shōnen Jump from February 2016 to May 2020, with 23 volumes
    in total. The series follows Tanjiro Kamado, a young boy who joins the Demon Slayer Corps after his family is killed
    and his sister, Nezuko, is turned into a demon. Tanjiro’s goal is to turn his sister back into a human and defeat
    the demon king, Muzan Kibutsuji.</p><br>
</p><br>
{%endblock Content%}