{%extends 'Basefile.html'%}

{% load static %}




{%block Title%}
<h1>Sports Page Page</h1>
{%endblock Title%}



{%block Content%}
<img src="{%static 'Photos/football.png'%}" alt="Football Photo">
<h2>Football</h2>
<p>Known as soccer in some regions, football is the worlds most popular sport, played between two teams of 11 players.
    The objective is to score goals by getting the ball into the opponents net. Major tournaments include the FIFA World
    Cup, UEFA Champions League, and continental championships, drawing millions of fans worldwide and fostering a rich
    culture of club and national pride. Football legends like Pelé, Diego Maradona, and Lionel Messi have become global
    icons, inspiring generations. The sport promotes inclusivity and community, with grassroots programs encouraging
    participation at all levels.</p><br>
{%endblock Content%}