{%extends 'Basefile.html'%}

{% load static %}




{%block Title%}
<h1>Sports Page Page</h1>
{%endblock Title%}



{%block Content%}
<img src="{% static 'Photos/hockey.png'%}" alt="Hockey Photo">
<h2>Hockey</h2>
<p>A fast-paced team sport played on ice or field, hockey involves two teams aiming to score goals by hitting a puck
    (ice) or ball (field) into the opponents net. Field hockey is especially popular in countries like India, Pakistan,
    and the Netherlands, while ice hockey has a strong following in North America and Europe, with leagues like the NHL
    showcasing top talent and thrilling gameplay. Hockey emphasizes speed, skill, and teamwork, with players often
    displaying incredible athleticism. The sport has a passionate fan base, and major tournaments like the Hockey World
    Cup and the Stanley Cup Finals attract significant viewership and support
</p><br>
{%endblock Content%}