{%extends 'Basefile.html'%}

{% load static %}




{%block Title%}
<h1>Anime news Page</h1>
{%endblock Title%}




{%block Content%}
<img src="{% static 'Photos/HxH.webp'%}" alt="HxH Image">
<h2>HxH</h2>
<p>Meruem says "Then I shall repeat myself" to Palm. It's the first time he's ever thought it courteous to make a point
    twice. Beforehand, he'd always made a point of not having to repeat himself. It's not exactly subtle, but they don't
    draw explicit attention to this line either. I take it to mean that he's opened up more to the value of considering
    others' needs, not just his own.</p><br>
</p><br>
{%endblock Content%}