{%extends 'Basefile.html'%}

{% load static %}




{%block Title%}
<h1>Sports Page Page</h1>
{%endblock Title%}



{%block Content%}
<img src="{%static 'Photos/kabbadi.png'%}" alt="Kabbadi Photo">
<h2>Kabbadi</h2>
<p>A traditional Indian contact sport, kabaddi involves two teams taking turns to send a "raider" into the opponents
    half to tag players and return without being tackled. The game emphasizes strength, agility, and strategy, gaining
    popularity through leagues like the Pro Kabaddi League, which has brought the sport to a wider audience. Kabaddi is
    not only a test of physical prowess but also mental acuity, as players must strategize their moves while holding
    their breath. The sport has cultural significance in many regions of India and is celebrated for its vibrant
    atmosphere during matches
</p><br>
{%endblock Content%}