{%extends 'Basefile.html'%}

{% load static %}




{%block Title%}
<h1>Movies Page</h1>
{%endblock Title%}



{%block Content%}
<img src="{% static 'Photos/og.jpeg'%}" alt="OG photo">
<h2>OG</h2>
<p>OG (also known as They Call Him OG) is an upcoming Indian Telugu-language gangster action thriller film written and
    directed by Sujeeth and produced by D. V. V. Danayya of DVV Entertainment. The film stars Pawan Kalyan, Emraan
    Hashmi (in his Telugu debut), and Priyanka Mohan.</p><br>
{%endblock Content%}