{%extends 'Basefile.html'%}

{% load static %}




{%block Title%}
<h1>Anime news Page</h1>
{%endblock Title%}




{%block Content%}
<img src="{% static 'Photos/OnePiece.webp'%}" alt="OnePiece Image">
<h2>OnePiece</h2>
<p>One Piece (stylized in all caps) is a Japanese manga series written and illustrated by Eiichiro Oda. It has been
    serialized in Shueisha's shōnen manga magazine Weekly Shōnen Jump since July 1997, with its chapters compiled in 110
    tankōbon volumes as of November 2024. The series follows the adventures of Monkey D. Luffy and his crew, the Straw
    Hat Pirates, as he explores the Grand Line in search of the mythical treasure known as the "One Piece" to become the
    next King of the Pirates.</p><br>
</p><br>
{%endblock Content%}