{%extends 'Basefile.html'%}

{% load static %}


{%block Title%}
<h1>Movies Page</h1>
{%endblock Title%}


{%block Content%}
<img src="{% static 'Photos/rajasaab.jpeg'%}" alt="RajaSaab Photo">
<h2>RajaSaab</h2>
<p>The Raja Saab is an upcoming Indian Telugu-language romantic comedy horror film written and directed by Maruthi.[3]
    It is produced by People Media Factory. The film stars Prabhas in the titular role, alongside Nidhhi Agerwal, and
    Malavika Mohanan (in her Telugu debut) in the lead roles.</p><br>
{%endblock Content%}