{%extends 'Basefile.html'%}

{% load static %}


{%block Title%}
<h1>Movies Page</h1>
{%endblock Title%}


{%block Content%}
<img src="{% static 'Photos/Salaar.jpeg'%}" alt="Salaar photo">
<h2>Salaar</h2>
<p>Salaar: Part 1 – Ceasefire is a 2023 Indian Telugu-language epic action thriller film written and directed by
    Prashanth Neel and produced by Vijay Kiragandur under Hombale Films. The film stars Prabhas as the title character
    alongside an ensemble cast of Prithviraj Sukumaran, Shruti Haasan, Jagapathi Babu, Bobby Simha and Sriya Reddy. In
    the fictional dystopian city-state of Khansaar, where monarchy still exists, the film follows the friendship between
    Deva (Prabhas), the exiled prince of Khansaar, and Varadha (Prithviraj Sukumaran), the current prince of Khansaar.
</p><br>
{%endblock Content%}