{%extends 'Basefile.html'%}

{% load static %}




{%block Title%}
<h1>Anime news Page</h1>
{%endblock Title%}




{%block Content%}
<img src="{% static 'Photos/TTIGRAAS.webp'%}" alt="That time i got reincarnated as a slime Image">
<h2>That Time i got reincarnated as a slime</h2>
<p>“That Time I Got Reincarnated as a Slime,” also known as TenSura, is a light novel series written by Fuse and
    illustrated by Mitz Vah. The story follows Satoru Mikami, a salaryman who is reincarnated in a sword and sorcery
    world as a slime after being murdered. He then builds a nation of monsters. The series originally started as a web
    novel on Shōsetsuka ni Narō from 2013 to 2016 and was later published as light novels by Micro Magazine starting in
    2014. As of October 2023, twenty-one volumes have been released. The anime adaptation, produced by 8-Bit, premiered
    on October 1, 2018, and ran for 24 episodes plus one special episode in its first season.</p><br>
</p><br>
{%endblock Content%}