{%extends 'Basefile.html'%}

{% load static %}


{%block Title%}
<h1>Movies Page</h1>
{%endblock Title%}


{%block Content%}
<img src="{% static 'Photos/ubs.jpeg'%}" alt="Ustaad photo">
<h2>Ustaad</h2>
<p>Ustaad Bhagat Singh (transl. Teacher Bhagat Singh) is an upcoming Indian Telugu-language action thriller film
    directed by Harish Shankar and produced by Mythri Movie Makers. The film stars Pawan Kalyan in the titular role,
    alongside Sreeleela, Ashutosh Rana, Nawab Shah, B. S. Avinash, Gautami and Chammak Chandra.
</p><br>
{%endblock Content%}