{%extends 'Basefile.html'%}

{% load static %}




{%block Title%}
<h1>Sports Page Page</h1>
{%endblock Title%}



{%block Content%}
<img src="{% static 'Photos/volleyball.png'%}" alt="Volleyball Photo">
<h2>Volleyball</h2>
<p>A team sport played on a rectangular court divided by a net, volleyball features two teams of six players. The
    objective is to score points by hitting the ball over the net and into the opponents court. It can be played indoors
    or on beaches, with major events like the Olympics and FIVB World Championships showcasing its global appeal and
    athleticism. Volleyball promotes teamwork and communication, as players must work together to set up plays and
    defend against opponents. The sport has a strong following in countries like Brazil, the USA, and Italy, with
    professional leagues and clubs contributing to its growth
</p><br>
{%endblock Content%}